extends ../headers/base

block content

    section.py-5.container
        
        <div class="mb-3 d-flex grid gap-2 justify-content-end">
            <div>
                <button class="bg-primary rounded py-2 px-5" style="border: none; outline: none; color: white;" data-bs-toggle="modal" data-bs-target="#appoint">Appoint</button>
            </div>

            <div>
                <button class="bg-primary rounded py-2 px-5" style="border: none; outline: none; color: white;" data-bs-toggle="modal" data-bs-target="#addBus">Add Bus</button>
            </div>
        </div>

        
        <div class="modal fade" id="appoint" tabindex="-1" aria-labelledby="appointLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addBusLabel">Appoint </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form >
                            <div class="mb-3">
                                h2 Worker Account
                            </div>

                            <div class="mb-3"> 
                                <label for="worker-name" class="form-label h6">Name</label>
                                <input type="text" class="form-control" id="worker-name" aria-describedby="emailHelp" min="9700000000" max="9899999999">
                            </div>                  

                            <div class="mb-3">
                                <label for="worker-number" class="form-label h6">Phone Number</label>
                                <input type="number" class="form-control" id="worker-number" aria-describedby="emailHelp" min="9700000000" max="9899999999">
                            </div>
                            <div class="mb-3">
                                <label for="worker-password" class="form-label h6">Password</label>
                                <input type="password" class="form-control" id="worker-password"  required>
                            </div>

                            //- pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}" title="Password must contain at least one uppercase letter, one lowercase letter, and one digit, and be at least 8 characters long."

                            <div class="mb-3">
                                <label for="worker-password-confirm" class="form-label h6">Password Confirm</label>
                                <input type="password" class="form-control" id="worker-password-confirm"  required>
                            </div>

                            <div class="mb-3">
                                <label for="select-bus" class="form-label h6">Select Bus</label>

                                <select class="form-select" id="select-bus" aria-label="Default select">
                                    each bus in buses
                                        option(value=`${bus.id}` selected)= bus.busName
                                </select>
                            </div>

                            <div class="mt-2">
                                button(type="submit", id="create-worker-account", class="btn btn-primary w-100") Submit
                            </div>

                        </form>        
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addBus" tabindex="-1" aria-labelledby="addBusLabel" aria-hidden="true">
            <div class="modal-dialog  modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addBusLabel">Add Bus</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        .p-2
                            .p-md-3.admin-container.custom-border.rounded.shadow-lg.d-flex
                                div#bus_registration_details
                                    <div class="mb-3">
                                        <label for="bus-name" class="form-label h6">Name</label>
                                        <input type="text" class="form-control" id="bus-name" placeholder="Trivent Bus">
                                    </div>
                                    <div class="mb-3 d-flex flex-column flex-md-row grid gap-3"> 
                                        <div>
                                            <label for="bus-number" class="form-label h6">Bus Number</label>
                                            <input type="number" class="form-control" id="bus-number" placeholder="1234">
                                        </div>
                                        <div>
                                            <label for="total-seats" class="form-label h6">Seats Count</label>
                                            <input type="number" class="form-control" id="total-seats" placeholder="36" />
                                        </div>                    
                                    </div>                       

                                    <div class="mb-3 d-flex flex-md-row grid gap-3">
                                        <div>
                                            <label for="ticket-price" class="form-label h6">Price</label>
                                            <input type="number" class="form-control" id="ticket-price" placeholder="1200" />
                                        </div>

                                        <div>
                                            <label for="journey-start-time" class="form-label h6">Journey Start Time</label>
                                            <input type="time" class="form-control w-100" id="journey-start-time">
                                        </div>             
                                    </div>            

                                    <div class="d-flex grid flex-column gap-3 mb-3">
                                        <div>
                                            <label for="startLocation" class="form-label h6">Start Location</label>
                                            <input type="text" class="form-control" id="startLocation" placeholder="Kakarbhitta" />
                                        </div>  
                                        <div >
                                            <label for="endLocation" class="form-label h6">End Location</label>
                                            <input type="text" class="form-control" id="endLocation" placeholder="Kathmandu" />
                                        </div>

                                        <div>
                                            <label for="bus-images" class="form-label h6">Bus Images</label>
                                            <input class="form-control" type="file" id="bus-images" accept="image/*" multiple>
                                        </div>                          
                                    </div>

                                    style.
                                        .day-wrapper{
                                            width: 45%;
                                        }
                                        @media screen and (max-width: 767px){
                                            .day-wrapper{
                                                width: 30vw;
                                            }
                                        }

                                        .facility-wrapper{
                                            width: 45%;
                                        }
                                        @media screen and (max-width: 767px){
                                            .facility-wrapper{
                                                width: 50%;
                                            }
                                        }                    

                                    <div class="d-flex flex-column mb-3">
                                        <label class="form-label h6">Days</label>

                                        div.d-flex.grid.flex-wrap
                                            each days in ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"]
                                                <div class="day-wrapper d-flex grid gap-3 align-items-space justify-content-between facility-wrapper">
                                                    <div class="h6 d-flex grid gap-2 align-items-center">
                                                        input(type="checkbox" id=`${days}` class="days" style="user-select: none")
                                                        label(for=`${days}`)= (days.replaceAll("_", " "))[0].toUpperCase() + (days.replaceAll("_", " ")).slice(1, days.length)
                                                    </div>
                                                </div>
                                    </div>

                                    style.
                                        .facility-container{
                                            width: 100%;
                                            display: flex;
                                            flex-wrap: wrap;
                                            align-items: center;
                                            column-gap: 1rem;
                                            flex-direction: row;
                                        }

                                    <div class="d-flex flex-column mb-3">
                                        <label for="facilities" class="form-label h6">Facilities</label>

                                        <div class="facility-container"> <!-- Use col-md-6 for medium screens -->
                                            each facility in ["ac", "blanket", "busTracking", "cctv", "chargingPoint", "movie", "noSmoking", "sos", "washroom", "waterBottle", "wifi"]
                                                <div class="d-flex grid gap-3 align-items-space justify-content-between facility-wrapper">
                                                    div.h6.d-flex.justify-content-center.flex-row.grid.gap-3(style="user-select: none")
                                                        input(type="checkbox" class="facility" id=`${facility}`)
                                                        label(for=`${facility}`)= (facility.replaceAll("_", " "))[0].toUpperCase() + (facility.replaceAll("_", " ")).slice(1, facility.length)
                                                    div
                                                        img(src=`../../images/icons/facility/${facility}.svg`,  height="18px" width="18px", alt=`${facility}`)
                                                </div>
                                        </div>
                                    </div>      

                                    <div class="mb-3">
                                        button(id="register-bus" onclick=`busOperation('update-bus')`, class="bg-primary rounded py-2 px-5 w-100" style="border: none; outline: none; color: white;") Update Bus
                                    </div>

                    </div>
                </div>
            </div>
        </div>

        table.table.table-striped.table-hover.shadow-lg
            tr
                th S.N
                th Bus Name
                th Bus Number
                th Price
                th Start Location
                th End Location
                th Seats
                th Facilities
                th Edit
                th Delete

            each bus, i in buses
                tr
                    td= i+1
                    td= bus.busName
                    td= bus.busNumber
                    td= bus.ticketPrice
                    td= bus.startLocation
                    td= bus.endLocation
                    td= bus.totalSeats
                    td.d-flex.flex-row.flex-wrap.grid.gap-2
                        each facility in JSON.parse(bus.facilities)
                            if(facility.value === "true")
                                span(style="text-transform: capitalize;")= facility.name
                    td.fw-bold.text-primary(style="cursor: pointer;")
                        span(data-bs-toggle="modal" data-bs-target="#addBus" onclick=`check('${bus.id}')`)
                            | Edit              
                    td.fw-bold.text-danger(style="cursor: pointer;" id="delete-bus-data" value=`${bus.id}`) Delete
                

    script(src="../../js/addBus.js")
    script(src="../../js/update_bus.js")