extends ../headers/base

block content
  <div class="container d-flex my-4">
    div.col-12.d-flex.justify-content-around
      <div class="col-4 border py-2 row rounded">
        <div class="d-flex justify-content-around">
          <div class="container">
            <div class="row">
              <div class="col-12">
                //- driver and conduction seat
                div.
                  <div class="my-2 col-10">
                    <div class="d-flex flex-wrap justify-content-end">
                      <div>
                        <div class="seat-height-width border rounded" style="background: red; color: white;" title="Driver">DR</div>
                      </div>
                    </div>

                    <div class="d-flex rounded">
                      <div>
                        <div class="seat-height-width border rounded" style="background: red; color: white;" title="Conductor">CR</div>
                      </div>
                    </div>
                  </div>

                style.
                  .seat-height-width{
                    height: 70px;
                    width: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    user-select: none;
                  }

                  .active{
                    background-color: #27d327;
                    color: white;
                  }

                  .reserved{
                    background: orange;
                    color: white;
                  }

                //- passenger seat
                <div class="my-2 justiy-content-evenly d-flex justify-content-between">
                  <div class="col-5 d-flex flex-wrap grid gap-1 justify-content-start">
                    - for(let i = 0; i <= ((bus.noOfSeats) - 5) /2 ; i++)
                      <div>
                        div(class=`avl-seat seat-height-width border rounded p-1 ${seatA.includes(JSON.stringify(i+1)) ? "reserved bookedTicket" : ""}`   value=`${"A" + (i+1)}`)= "A" + (i+1)
                      </div>                                   
                  </div>
                  <div class="col-5 d-flex flex-wrap grid gap-1 justify-content-start">
                    - for(let i = 0; i <= ((bus.noOfSeats) - 5)/2; i++)
                      <div>
                        div(class=`avl-seat seat-height-width border rounded p-1 ${seatB.includes(JSON.stringify(i+1)) ? "reserved bookedTicket" : ""}` value=`${"B" + (i+1)}`)= "B" + (i+1)
                      </div>
                  </div>
                </div>    

                //- 37 - 5 = 32 /2 = 16 
                <div class="d-flex flex-wrap justiy-content-evenly col-12 grid gap-1">
                  - var backSeatCalculation = Math.round(((bus.noOfSeats - 5) / 2));
                  - for(let i = backSeatCalculation+1; i <= backSeatCalculation + 3; i++)
                    <div>
                      div(class=`avl-seat seat-height-width border rounded ${seatA.includes(JSON.stringify(i+1)) ? "reserved bookedTicket" : ""}` value=`${"A" + backSeatCalculation + (i)}`)= "A" + parseInt(i)
                    </div>
                  - for(let i = backSeatCalculation +1; i <= backSeatCalculation + 2; i++)
                    <div>
                      div(class=`avl-seat seat-height-width border rounded ${seatB.includes(JSON.stringify(i)) ? "reserved bookedTicket" : ""}` value=`${"B" + backSeatCalculation + (i)}`)= "B" + parseInt(i)
                    </div>                                    
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="d-flex flex-column col-6 py-3 border align-items-center rounded">
        <div class="mb-3 d-flex grid gap-2"> 
          <div>
            <input type="date" class="py-2 rounded px-3" style="border: 2px solid #ccc; outline: none;" />
          </div>         

          <div>
            <button id="show-tickets" class="py-2 px-5 rounded" style="border: none; outline: none; background-color: #5B575A; color: white;">Show Records</button>
          </div>         
        </div>

        style.
          table {
              border-collapse: collapse;
              width: 100%;
              border-radius: 4px;
          }
          th, td {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
          }
          th {
              background-color: #f2f2f2;
          }
          

        <div>
          <table>
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Seat</th>
                      <th>From Location</th>
                      <th>To Location</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Santosh Basnet</td>
                      <td>A1</td>
                      <td>Damak</td>
                      <td>Itahari</td>
                  </tr>
              </tbody>
          </table>          
        </div>        
      </div> 

  </div>