extends adminbase

//- script(src="./js/jquery-latest.js")
//- script(src="./js/forall.js")
block contentDash
    style.
        tr:nth-child(even) {
            background-color: rgba(150, 212, 212, 0.4);
        }

        tr{
            width: fit-content;
        }

        .order-tshirt-sizes{
            border: 2px solid #ccc;
            border-radius: 10px;
            padding: .4rem 1rem;
            margin: .2rem;
        }


    .content
        // Sale & Revenue Start
        

        .container-fluid.pt-4.px-2
            .container-fluid.pt-4.px-2.admin-container
                h5(style="color: #897575;") Product Send To Users
                table(style="width: 100%")
                    thead
                        tr
                            th SN
                            th Name
                            th Phone no
                            th send
                            th date
                            th Link

                    tbody(style="flex")
                        each product, i in orderSend
                            tr 
                                td 
                                    .no-of-order#location(style="font-size: 1.1rem;")= i+1
                                td
                                    .no-of-order#location(style="font-size: 1.1rem;")= product.name
                                td
                                    .no-of-order#location(style="font-size: 1.1rem;")= product.number
                                td
                                    input.no-of-order#location(type="checkbox" style="font-size: 1.1rem;" checked=(product.sendStatus === true))
                                td= new Date(`${product.orderDate}`).toLocaleDateString("en-US", { day: 'numeric', month: 'short', year: 'numeric' })
                                td
                                    .no-of-order#location(style="font-size: 1.1rem;")
                                        a(href=`dashboard_products/${product.id}`) View 
