extends adminbase

block contentDash
    style.
        tr:nth-child(even) {
            background-color: rgba(150, 212, 212, 0.4);
        }
        .order-tshirt-sizes{
            border: 2px solid #ccc;
            border-radius: 10px;
            padding: .4rem 1rem;
            margin: .2rem;
        }

    .container-fluid.pt-4.px-2
        .container-fluid.pt-4.px-2.admin-container
            h5(style="color: #897575;") Ordered Products
            table
                thead
                    tr
                        th SN
                        th Name
                        th(class="on-mobile") send
                        th date
                        th Link

                tbody(style="flex")
                    each product, i in ordereditem
                        tr 
                            td 
                                .no-of-order#location(style="font-size: 1.1rem;")= i+1
                            td
                                .no-of-order#location(style="font-size: 1.1rem;")= product.name
                            td(class="on-mobile") 
                                input.no-of-order#location(type="checkbox" style="font-size: 1.1rem;" checked=(product.sendStatus === true))
                            td= new Date(`${product.orderDate}`).toLocaleDateString("en-US", { day: 'numeric', month: 'short', year: 'numeric' })
                            td
                                .no-of-order#location(style="font-size: 1.1rem;")
                                    a(href=`dashboard_products/${product.id}`) View 
                            
                                

    //- script(src="../js/jquery-latest.js")
    script.
        const sendedSticker = document.querySelectorAll("#sended-stickers");

        sendedSticker.forEach(el => {
            el.addEventListener("click", () => {
                const imageFileArray = JSON.parse(el.getAttribute("imagesname"));
                imageFileArray.forEach(image => {
                    const link = document.createElement("a");
                    link.href = `../images/product/upload/sticker/${image}`;
                    link.setAttribute("download", image);
                    link.style.display = "none";
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                })
            })
        });


