extends adminbase

block contentDash
    

    .container-fluid.pt-4.px-4
        .container-fluid.pt-4.px-4.admin-container
            table
                thead
                    tr 
                        th S.N
                        th Name
                        th Role
                        th Appoint To Admin
                        th Delete User
                tbody
                    each user, i in users
                        tr
                            td= i+1 + "."
                            td= user.name
                            td(class=`${user._id}`)= user.role
                            td
                                if(user.role !== "admin")
                                    button#change-user-role(style=`background: ${user.role === "sub-admin" ? "red" : "green"}; width: 90%; padding: .5rem; color: white; border:none;` data-role=`${user.role}` value=`${user._id}`)= `${user.role === "user" ?  "Appoint To Admin" : "Remove as Admin"}`
                            td
                                if(user.role !== "admin")
                                    button#delete-user(style="background:red; width: 90%; color: white; padding: .5rem; border:none;" value=`${user._id}`) Delete User
    
    script(src="../js/jquery-latest.js")
    script(src="../js/forall.js")
