extends adminbase

block contentDash
  style.
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 800px;
      margin: 50px auto;
      margin-bottom: 20px;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    .line {
      height: 2px;
      background-color: #ccc;
      flex: 1;
    }
    .line.active {
      background-color: #2196f3;
    }

    .container div{
      margin-bottom: 10px;
    }

    button{
      width: 100%;
      padding: .5rem 0;
      background: #D73254;
      border:none;
      color: white;
    }

    .product-image img{
      width: 60%;
    }

    .vertical-table {
      max-width: 800px;
      margin: 10px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      gap: 10px;
    }


    .table-row {
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }

    .label {
      font-weight: bold;
      min-width: 120px;
    }
    .order-tshirt-sizes{
      border: 2px solid #ccc;
      border-radius: 10px;
      padding: .4rem 1rem;
      margin: .2rem;
    }

    .align-image{
      flex-direction: row;
    }

    .vertical-table-top-space{
      margin-top: 3rem;
    }

    .status-center{
      display:flex;
      justify-content: flex-start;
      align-items:center;
    }

    .status-center *{
      margin: 0 5px;
    }

    @media (min-width: 0px) and (max-width: 500px) {
      .order-tshirt-sizes{
        padding: .4rem .7rem;
      }
      .align-image{
        flex-direction: column;
      }
      .container, .vertical-table {
        margin-left: .7rem;
        margin-right: .7rem;
      }

      .delivery-detail-container img{
        width: 200%;
      }
      .product-image img{
        width: 100%;
      }


      .back-to-home{
        margin: 1rem 0;
      }


      h1{
        font-size: 25px;
        text-align:center;
      }

      button{
        width: 100%;
        padding: .5rem 0;
        background: #D73254;
        border:none;
        color: white;
      }

      .container div{
        margin-bottom: 0;
      }


    }
    .back-to-home-link{
      text-decoration: none;
      color: white;
    }


    .delivery-detail{
      display: flex;
      width: fit-content;
    }

    .delivery-detail-container{
      display: flex;
      flex-direction: column;
    }

  

  .vertical-table.vertical-table-top-space
    .table-row
      .label Name:
      div= product.name
    .table-row
      .label Email:
      div= product.email
    .table-row
      .label Number:
      div= product.number
    .table-row
      .label Alt. Number:
      div= product.alt_number
    .table-row
      .label State:
      div= product.state
    .table-row
      .label District:
      div= product.district
    .table-row
      .label City:
      div= product.city
    .table-row
      .label Ward:
      div= product.ward_no
    .table-row
      .label Toll:
      div= product.toll_name
    .table-row
      .label Land Mark:
      div= product.land_mark
    .table-row
      .label Color:
      div= product.color
    .table-row
      .label sendStatus:
      .label.status-center
        input#update-sendStatus(type="checkbox" name="update-sendStatus" checked=product.sendStatus)
        div= product.sendStatus === false ? "not send" : "sended"  
    .table-row
      .label shipped:
      .label.status-center
        input#update-productShipping(type="checkbox" name="update-productShipping" checked=product.shipped)
        div= product.shipped === false ? "not send" : "sended"

    .table-row
      .label size:
      div(style="display:flex; flex-wrap: wrap;")
        each size in JSON.parse(product.size)
          div.order-tshirt-sizes 
            p= `${size.size}, ${size.quantity}`
    .back-to-home 
      button.back-to-home#updatebutton update

  .vertical-table.d-flex.flex-col
    h5
      | Payment Proof
    div.front-image.product-image
      img(src=`../../images/product/upload/payment/${product.payment}`, alt="image not found")

  .vertical-table.align-image
    div.front-image.product-image
      img(src=`../../images/product/upload/tshirt/front/${product.front}`, alt="image not found")
    div.front-image.product-image
      img(src=`../../images/product/upload/tshirt/back/${product.back}`, alt="image not found")
  
  if(!product.sticker)
    .vertical-table.align-image
        each sticker in product.sticker
          div.front-image.product-image
            img(src=`../../images/product/upload/tshirt/front/${product.front}`, alt="image not found")


  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.3/axios.min.js") 
  script(src='https://code.jquery.com/jquery-3.4.1.min.js')

  script.
    $("#updatebutton")[0].addEventListener("click", async () => {
      const sendStatus = $("#update-sendStatus").prop('checked');
      const shippingStatus = $("#update-productShipping").prop('checked');

      await axios({
        method: "PATCH",
        url: "/api/v1/admin_data_controller/update_productStatus",
        data: {
          id: window.location.pathname.split("/")[3],
          sendStatus:sendStatus,
          shippingStatus:shippingStatus
        }
      }).then(data => {
        if(data.data.status === 200){
          window.location.reload();
        }
      })
    })