extends ../headers/base

block content
    style.
        svg {
            rotate: 90deg;
        }


        .custom-border{
            border: 1px solid #afafaf;
            border-radius: 4px;
        }
        .image-section{
            height: 40vh;
            width: 100vw;
            display: flex;
            align-items:center;     
            justify-content: center;       
        }

        .image-section::before{
            content: " ";
            background: url("./images/bus_search_2.jpg") no-repeat center center / cover;
            position: absolute;
            left: 0px;
            height: 40vh;
            width: 100vw;
            z-index: -1;
        }

    <div class="image-section container mb-3">
        <div class="row">
            <div class="d-flex justify-content-center ">
                <div class="d-flex flex-column flex-md-row flex-lg-row grid gap-2 p-3 px-4 rounded bg-white">
                    <div>
                        <input class="rounded px-3 py-1" type="text" name="" id="" placeholder="Location">
                    </div>
                    <div>
                        <input class="rounded px-3 py-1" type="text" name="" id="" placeholder="Destionation">
                    </div>
                    <div>
                        <input class="rounded px-3 py-1" type="date" name="" id="" placeholder="">
                    </div>
                    <div>
                        <button class="bg-primary text-white rounded py-1 px-4">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="desktop-ticket-booking" class="container my-2">
        <div class="row">
            <div class="d-none d-md-flex flex-md-column col-md-2 grid gap-2 ">
                <div class="custom-border p-2">
                    <div class="h6" data-bs-toggle="collapse" href="#facility" role="button" aria-expanded="false" aria-controls="facility">Facility</div>
                    
                    <div class="collapse" id="facility">
                        <div class="d-flex grid gap-3 align-items-center">
                            <input type="radio" name="" id="ac" />
                            <label for="ac" style="font-size: small;">AC</label>
                        </div>

                        <div class="d-flex grid gap-3 align-items-center">
                            <input type="radio" name="" id="water" />
                            <label for="water" style="font-size: small;">Water</label>
                        </div>

                        <div class="d-flex grid gap-3 align-items-center">
                            <input type="radio" name="" id="washroom" />
                            <label for="washroom" style="font-size: small;">Washroom</label>
                        </div>

                        <div class="d-flex grid gap-3 align-items-center">
                            <input type="radio" name="" id="charging" />
                            <label for="charging" style="font-size: small;">Charging Point</label>
                        </div>

                        <div class="d-flex grid gap-3 align-items-center">
                            <input type="radio" name="" id="mobile" />
                            <label for="mobile" style="font-size: small;">Mobile Ticket</label>
                        </div>
                    </div>
                </div>

                <div class="custom-border p-2">
                    <div class="h6" data-bs-toggle="collapse" href="#bus-type" role="button" aria-expanded="false" aria-controls="bus-type">Vehicle</div>
                    <div class="collapse" id="bus-type">
                        <div class="d-flex grid gap-3 align-items-center">
                            <input type="radio" name="vehicle" id="bus" value="bus">
                            <label for="bus" style="font-size: small;">Bus</label>
                        </div>

                        <div class="d-flex grid gap-3 align-items-center">
                            <input type="radio" name="vehicle" id="hiace" value="hiace">
                            <label for="hiace" style="font-size: small;">Hiace</label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-12 col-md-10 grid gap-3">
                <div>
                    <div class="d-none d-md-block container custom-border p-2">
                        <div class="row">
                            <div class="col-md-5">Service Provider</div>
                            <div class="col-md-1">Rating</div>
                            <div class="col-md-1">Depart.</div>
                            <div class="col-md-1">Duration</div>
                            <div class="col-md-1">Arrrival</div>
                            <div class="col-md-1">Booked</div>
                            <div class="col-md-1">Fare</div>
                        </div>
                    </div>

                    <div class="container p-0">
                        if(buses)
                            each bus in buses
                                <div class="custom-border my-2 p-3 ">
                                    <div class="row">
                                        <div class="col-md-5">
                                            div.h5= bus.busName
                                            <div class="h6"><a class="text-secondary text-decoration-none"
                                                | href="/ram-travels-company">Ram Travels Company</a> </div>

                                            <div class="d-flex d-md-none flex-column">  
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="h6">Price</div>
                                                    div#ticket-price-mobile= bus.bus_fare
                                                </div>
                                            </div>
                                                                                        

                                            <div class="h6 d-none d-md-block">
                                                | Type: <span class="text-secondary h6">Bus</span>
                                            </div>
                                            <div class="h6 d-none d-md-block">
                                                | Number: 
                                                span.text-secondary.h6= bus.busNumber
                                            </div> 
                                            <div class="h6 d-none d-md-flex grid gap-1 d-none d-md-block">
                                                span.h6 Route:
                                                span.text-secondary.h6= bus.stopLocation[0] 
                                                <span class="text-secondary h6"> - </span>
                                                span.text-secondary.h6= bus.stopLocation[(bus.stopLocation.length) - 1]

                                            </div>
                                            <div class="h6 d-none d-md-flex grid gap-1 flex-wrap">
                                                div.h6 Point:
                                                each location in bus.stopLocation
                                                    span.text-secondary.h6= location
                                            </div>
                                        </div>

                                        <div class="col-md-1 d-none d-md-block">
                                            <div class="d-flex grid gap-1">
                                                span= 5
                                                span(style="font-size: small;")= "[" + 1 + "]"
                                            </div>
                                        </div>
                                        <div class="col-md-1 d-none d-md-block">12: 00</div>
                                        <div class="col-md-1 d-none d-md-block">
                                            div(class="col-md-1 d-none d-md-flex align-items-start grid gap-1")
                                                span= 7
                                                span(style="font-size: small;") Hrs                                        
                                        </div>
                                        <div class="col-md-1 d-none d-md-block">19: 00</div>
                                        div(class="col-1 d-none d-md-flex align-items-start grid gap-1")
                                            span= bus.bookedSeats
                                            span(style="font-size: small;")= "[" + bus.totalSeats + "]"
                                        div(class="col-md-1 d-none d-md-flex align-items-start grid gap-1")
                                            span#base-price= bus.bus_fare
                                            span(style="font-size: small;") NPR                                       

                                    </div>

                                    <div>
                                        <hr>
                                    </div>

                                    <div class="row ">
                                        <div class="col-12 col-md-10 d-flex grid gap-3 gap-md-0 align-items-center">
                                            <div class="col-md-2 d-inline-flex d-md-none gap-1">
                                                a(class="text-decoration-none text-black h6" data-bs-toggle="collapse" href=`#details-slider-${bus.slug}` role="button" aria-expanded="false" aria-controls=`details-slider-${bus.slug}`) Details
                                            </div>

                                            <div class="col-md-2 d-inline-flex gap-1">
                                                a(class="text-decoration-none text-black h6" data-bs-toggle="collapse" href=`#reviews-slider-${bus.slug}` role="button" aria-expanded="false" aria-controls=`reviews-slider-${bus.slug}`) Reviews
                                                </a>
                                            </div>

                                            <div class="col-md-2 d-inline-flex gap-1 ">
                                                a(class="text-decoration-none text-black h6" data-bs-toggle="collapse" href=`#seat-slider-${bus.slug}` role="button" aria-expanded="false" aria-controls=`seat-slider-${bus.slug}`)
                                                    | Seat
                                                </a>
                                            </div>

                                            <div class="col-md-2 d-inline-flex gap-1 ">
                                                a(class="text-decoration-none text-black h6" data-bs-toggle="collapse" href=`#facility-slider-${bus.slug}` role="button" aria-expanded="false" aria-controls=`facility-${bus.slug}`)
                                                    | Facility
                                                </a>
                                            </div>
    
                                        </div>
                                    </div>

                                    div(id=`details-slider-${bus.slug}` class="col-md-9 collapse custom-border px-2 px-md-0 py-3 row rounded")
                                        <div class="h6">Details</div>
                                        <div>  
                                            <hr/>
                                        </div>   
                                        
                                        <div class="col-12">
                                            <div class="d-flex flex-column">  
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="h6">Seat</div>
                                                    div(class="d-flex grid gap-1")= bus.totalSeats
                                                </div>
                                            </div> 

                                            <div class="d-flex flex-column">  
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="h6">Price</div>
                                                    div= bus.bus_fare
                                                </div>
                                            </div>
                                            
                                            <div class="d-flex flex-column">  
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="h6">Bus Number</div>
                                                    div= bus.busNumber
                                                </div>                                                        
                                            </div>   

                                            <div class="d-flex flex-column">  
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="h6">point: </div>
                                                    div=  bus.stopLocation.length
                                                </div>                                                        
                                            </div> 

                                            <div class="d-flex flex-column">  
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="h6">Type: </div>
                                                    div Bus
                                                </div>                                                   
                                            </div>    


                                            <div class="d-flex flex-column">  
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="h6">Company: </div>
                                                    div Ram Travel
                                                </div>                                                   
                                            </div>                                                                                                                                                                                                                                              
                                        </div>


                                    div.collapse.my-2(id=`reviews-slider-${bus.slug}`)
                                        <div class="d-flex flex-column grid gap-1 px-3">
                                            <div class="custom-border py-3 row rounded">
                                                <div class="col-11">
                                                    <div class="h6">Hari Ram</div>
                                                    <div class="h6 text-secondary">Gareman Travels</div>
                                                    <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
                                                        | corrupti recusandae quae possimus facere natus ea tempora. Totam,
                                                        | voluptas asperiores.</div>
                                                </div>
                                                <div class="col-1">
                                                    <div class="h6">5 ⭐</div>
                                                </div>
                                            </div>

                                            <div class="custom-border py-3 row rounded">
                                                <div class="col-11">
                                                    <div class="h6">Hari Ram</div>
                                                    <div class="h6 text-secondary">Gareman Travels</div>
                                                    <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
                                                        corrupti recusandae quae possimus facere natus ea tempora. Totam,
                                                        voluptas asperiores.</div>
                                                </div>
                                                <div class="col-1">
                                                    <div class="h6">5 ⭐</div>
                                                </div>
                                            </div>
                                        </div>

                                    div.collapse.my-2(id=`facility-slider-${bus.slug}`)
                                        <div class="d-flex flex-column grid gap-1 ">
                                            <div class="custom-border d-flex grid gap-4 py-3 px-3 align-items-center">
                                                each faciliti in JSON.parse(bus.facilities)
                                                    - if(faciliti.value == "true")
                                                        <div>
                                                            img(src=`./images/icons/facility/${faciliti.name}.svg` alt="")
                                                        </div>                                                    
                                            </div>
                                        </div>
                                                                    
                                    //- seats
                                    div.collapse.my-2(id=`seat-slider-${bus.slug}`)
                                        <div class="container d-flex flex-column flex-md-row justify-content-between grid gap-4">
                                            <div class="col-md-3 custom-border py-2 row rounded">
                                                <div class="d-flex justify-content-around">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                //- driver and conduction seat
                                                                div.
                                                                    <div class="my-2 col-12 col-md-10">
                                                                        <div class="d-flex flex-wrap justify-content-end">
                                                                            <div>
                                                                                <div class="seat-height-width custom-border rounded" style="background: red; color: white;" title="Driver">DR</div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="d-flex rounded">
                                                                            <div>
                                                                                <div class="seat-height-width custom-border rounded" style="background: red; color: white;" title="Conductor">CR</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                style.
                                                                    .seat-height-width{
                                                                        height: 35px;
                                                                        width: 35px;
                                                                        display: flex;
                                                                        justify-content: center;
                                                                        align-items: center;
                                                                        cursor: pointer;
                                                                        user-select: none;
                                                                    }

                                                                    @media screen and (max-width: 767px){
                                                                        .seat-height-width{
                                                                            height: 50px;
                                                                            width: 50px;
                                                                        }                                                                        
                                                                    }


                                                                    .active{
                                                                        background-color: #27d327;
                                                                        color: white;
                                                                    }

                                                                    .reserved{
                                                                        background: orange;
                                                                        color: white;
                                                                        cursor: not-allowed;
                                                                    }

                                                                //- passenger seat
                                                                <div class="my-2 justiy-content-evenly d-flex justify-content-between">
                                                                    <div class="col-5 d-flex flex-wrap grid gap-1 justify-content-around">
                                                                        - for(let i = 0; i <= ((bus.totalSeats) - 5) /2 ; i++)
                                                                            <div>
                                                                                div(class=`avl-seat seat-height-width custom-border rounded p-1 ${seatA ? seatA.includes(JSON.stringify(i+1)) ? "reserved bookedTicket" : "" : ""}`   value=`${"A" + (i+1)}`)= "A" + (i+1)
                                                                            </div>                                   
                                                                    </div>

                                                                    <div class="col-5 d-flex flex-wrap grid gap-1 justify-content-around">
                                                                        - for(let i = 0; i <= ((bus.totalSeats) - 5)/2; i++)
                                                                            <div>
                                                                                div(class=`avl-seat seat-height-width custom-border rounded p-1 ${seatB ? seatB.includes(JSON.stringify(i+1)) ? "reserved bookedTicket" : "": ""}` value=`${"B" + (i+1)}`)= "B" + (i+1)
                                                                            </div>
                                                                    </div>
                                                                </div>    
                                                                
                                                                //- 37 - 5 = 32 /2 = 16 
                                                                <div class="d-flex flex-wrap justiy-content-around col-12 grid gap-1">
                                                                    - var backSeatCalculation = Math.round(((bus.totalSeats - 5) / 2));

                                                                    - for(let i = backSeatCalculation+1; i <= backSeatCalculation + 3; i++)
                                                                        <div>
                                                                            div(class=`avl-seat seat-height-width custom-border rounded ${seatA ? seatA.includes(JSON.stringify(i+1)) ? "reserved bookedTicket" : "" : ""}` value=`${"A" + i}`)= "A" + parseInt(i)
                                                                        </div>

                                                                    - for(let i = backSeatCalculation +1; i <= backSeatCalculation + 2; i++)
                                                                        <div>
                                                                            div(class=`avl-seat seat-height-width custom-border rounded ${seatB ? seatB.includes(JSON.stringify(i)) ? "reserved bookedTicket" : "" : ""}` value=`${"B" + i}`)= "B" + parseInt(i)
                                                                        </div>                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>

                                            //- booking page
                                            <div class="col-md-9 custom-border px-2 px-md-0 py-3 row rounded">
                                                <div class="h6">Boarding & Dropping</div>

                                                <div>  
                                                    <hr/>
                                                </div>   

                                                <div class="d-flex flex-row grid gap-4">
                                                    <div class="d-flex flex-column grid gap-4">
                                                        <div><input type="radio" name="" id="" checked readonly></div>
                                                        <div> <input type="radio" name="" id="" unchecked readonly></div>
                                                    </div>
                                                    <div class="col-11">
                                                        <div class="d-flex flex-column grid gap-4">  
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                div= from
                                                                <div>12:00</div>
                                                            </div>
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                div= to
                                                                <div>12:00</div>
                                                            </div>                                                    
                                                        </div>                                                 
                                                    </div>
                                                </div>
                                                
                                                <div class="col-12">
                                                    //- line
                                                    <div>  
                                                        <hr/>
                                                    </div>

                                                    <div class="d-flex flex-column">  
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <div class="h6">Seat</div>
                                                            <div class="d-flex grid gap-1" id="seats">-</div>
                                                        </div>
                                                    </div> 

                                                    //- line
                                                    <div>  
                                                        <hr/>
                                                    </div>
                                                    
                                                    <div class="d-flex flex-column">  
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <div class="h6">Price</div>
                                                            div#ticket-price= 0
                                                        </div>
                                                    </div>

                                                    <div>  
                                                        <hr/>
                                                    </div>
                                                    
                                                    <div class="d-flex flex-column">  
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <div class="h6">Quantity</div>
                                                            <div id="ticket-quantity">0</div>
                                                        </div>                                                        
                                                    </div>   

                                                    <div>  
                                                        <hr/>
                                                    </div>
                                                    
                                                    <div class="d-flex mb-2 flex-column">  
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <div class="h6">Net Price</div>
                                                            <div id="net-price">0</div>
                                                        </div>                                                        
                                                    </div>                                                                                                                          
                                                </div>

                                                <div class="col-12 ">
                                                    div.d-flex.justify-content-end
                                                        form(action=`/create-checkout-session/${bus.slug}` method="POST") 
                                                            <button type="submit" class="w-100 btn btn-primary py-2 px-4">Reserve Seat</button>
                                                </div>
                                            </div>

                                        </div>
                                </div>
                        else
                            h2.h2 No Buses TO Show
                    </div>
                </div>
            </div>


        </div>
    </section>

    script(src="./js/Search_Result.js") 